@import url('https://fonts.googleapis.com/css2?family=Konkhmer+Sleokchher&display=swap');
*{
  font-family: 'Konkhmer Sleokchher', cursive;
}
body{
    background-color: rgb(0, 0, 0);   
}

form {
    margin: 5 auto;
    width: 600px;
    padding: 1em;
    border: 3px solid #1b02ff;
    border-radius: 5em;
    background-image: url(https://png.pngtree.com/thumb_back/fw800/back_our/20190628/ourmid/pngtree-black-and-white-japanese-cat-background-design-image_268622.jpg);
    box-shadow: 2px 2px 20px 20px blue;
}

.dino{
   color: rgb(128, 0, 248);
   font-size: 25px;
}
.grupo{
    display: flex;
    justify-content: center;
    
}

.form{
    width: 100%;
    margin: auto;
    
}

form .grupo{
    position: relative;
    margin: 15px;
}
.button1{
    margin-left: .5em;
    font-family: 'Righteous', cursive;
    background-color: rgb(239, 241, 248);
    color: rgb(162, 0, 255);  
    border-radius: 5px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 15px;
}
.button1:hover { 
 color: rgb(255, 255, 255);
 background-color: rgb(174, 0, 255);
}

h1{

        height: 60px;
        width: 30%;
        border-radius:  2vh;
        border: 3px solid rgb(0, 47, 255);
        background: white;
        text-align: center;
        text-transform: uppercase;
        font-weight: 400;
        font-size: 2rem;
        animation: flicker 1.5s infinite alternate;
        
 }



h2{
    color: white;
    color: rgb(255, 255, 255);
   
}

  .container {
    margin-top: 1vh;
  }
  .neonText {
    color: #fff;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-shadow:
      0 0 7px #fff,
      0 0 10px #fff,
      0 0 21px #fff,
  }
  .neonText {
    color: #161616;
    text-shadow:
      0 0 7px #fff,
      0 0 10px #fff,
      0 0 21px #fff,
      0 0 42px rgb(0, 217, 255),
      0 0 82px rgb(98, 0, 255),
      0 0 92px rgb(140, 0, 255),
      0 0 102px rgb(140, 0, 255),
      0 0 151px rgb(89, 0, 255);
      font-size: 50px;
  }
  
  @keyframes flicker {
    0%, 18%, 22%, 25%, 53%, 57%, 100% {
      text-shadow:
        0 0 4px #fff,
        0 0 11px #fff,
        0 0 19px #fff,
        0 0 40px rgb(0, 225, 255),
        0 0 80px rgb(153, 0, 255),
        0 0 90px rgb(140, 0, 255),
        0 0 100px rgb(119, 0, 255),
        0 0 150px rgb(119, 0, 255);
    }
    20%, 24%, 55% {       
      text-shadow: none;
    }
  }

  .img1{
    display: flex;
    justify-content: end;
    
  }

  .info{
    font-size: 20px;
    font-family: cursive;
    border-radius: 10px;
  }

  img{
    border-radius: 15vh;
    border: 2px solid white;
    box-shadow: 2px 2px 20px 20px rgb(252, 246, 246);
  }

